

  <!-- navbar_show -->
<div class="navbar-show">
  <% content_for :navbar do %>
    <%= render 'shared/navbar_show' %>
  <% end %>
</div>

<div class="about-white-background">
  <div class="col-sm-offset-3 col-sm-6">
  <div class=" content-wrapper-about">
    <h2>Let us know what you think!</h2>

    <a href="mailto:eatwell.lisbon@gmail.com" class="btn btn-facebook">SEND EMAIL</a>
    <br>
    <p class="bottom-padding-about">Please email <a href="mailto:eatwell.lisbon@gmail.com"> eatwell.lisbon@gmail.com</a> and give us feedback about our concept, the app, and anything else you can share about your relationship with sustainability and voting with dollars. We're on a mission to make it easier to live an environentally-friendly and social life-style. Help us learn :)  </p>

    <hr>
    <div>
      <h3>Impact badges</h3>
      <p>Restaurants are evaluated on three criteria developed by the Sustainable Restaraunt Association.</p>
      <div class="row">
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-community-icon.png", height: 40 %>
            </div>
            <div class="impact-key-text">
              <p>Restaurants that serve better vegetables, meat and fish. Often by favouring local, organic and/or seasonal produce.</p>
            </div>
          </div>
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-sourcing-icon.png", height: 40  %>
            </div>
            <div class="impact-key-text">
            <p>Restaurants that involve their communities. For example by training and employing disadvantaged populations.</p>
            </div>
          </div>
          <div class="impact-key-box">
            <div class="impact-key-img">
              <%= image_tag "about-recycle-icon.png", height: 40  %>
            </div>
            <div class="impact-key-text">
              <p>Restaurants that care about their left-overs. For example by contributing to food recycling programs.</p>
            </div>
          </div>
        </div>
      </div>


    <hr>

    <h3>Impact reward points</h3>

    <p>When you check-in at restaurants on Eatwell, you earn impact points. These points can be redeemed with our partners for free products and discount coupons.</p>
    <p>Check your profile to see how many points you have and then visit offers to see what can be redeemed!</p>
  </div>
</div>
</div>



